*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif ;
}

.navbar{
    display: flex;
    background-color: white;
    justify-content: end;
    height: 8vh;
    padding-top: 2vh;
    padding-right: 2vw;
}

.navbarContainer{
    display: flex; 
    gap: 2rem;
    
}

.navbarContainer h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}