@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #fffe04;
    --color-secundario: #010001;
}

.logo1{
    background-color: var(--color-principal);
    display: flex;
flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.lup{
    display: flex;
    justify-content: center;
}

.lup img {
    height: 70vh;
    width: 60vw;
}

.icons{
    display: flex;
    justify-content: end;
    gap: 2.5rem;
    background-color: #010001;
    padding-right: 5vw;
    
}

.bi-youtube{
    font-size: 6rem;
    color: white;
}

.bi-twitch{
    font-size: 6rem;
    color: white;
}

.bi-instagram{
    font-size: 6rem;
    color: white;
}

@media (max-width: 700px) {
    .lup img {
        height: 40vh;
        width: 60vw;
    }

    .bi-youtube{
        font-size: 3rem;
        color: white;
    }
    
    .bi-twitch{
        font-size: 3rem;
        color: white;
    }
    
    .bi-instagram{
        font-size: 3rem;
        color: white;
    }

}

@media (max-width: 350px) {
    .bi-youtube{
        font-size: 2rem;
        color: white;
    }
    
    .bi-twitch{
        font-size: 2rem;
        color: white;
    }
    
    .bi-instagram{
        font-size: 2rem;
        color: white;
    }
    .icons{
        justify-content: center;
    }
}