@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-principal: #fffe04;
    --color-secundario: #010001;
}

.logo1{
    background-color: var(--color-principal);
    display: flex;
flex-direction: column;
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.lup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lup img {
    height: 70vh;
    width: 60vw;
    
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 60px;
    color: white;
    margin-top: 3vh;
    text-decoration: none;
}

.menu h2{
    color: white;
    text-decoration: none;
    
}

.icons{
    display: flex;
    justify-content: end;
    gap: 2.5rem;
    background-color: #010001;
    padding-right: 5vw;
    
}

.bi-youtube{
    font-size: 6rem;
    color: white;
}

.bi-twitch{
    font-size: 6rem;
    color: white;
}

.bi-instagram{
    font-size: 6rem;
    color: white;
}

.home{
    display: flex;
    background-color: #010001;
    
}



.backstage{
    background-color: #010001;
}

.conocenos{
    background-color: #010001;
}

.contactanos{
    background-color: #010001;
}


@media (max-width: 700px) {
    .lup{
        display: flex;
        justify-content: start;
    }

    
    .lup img {
        height: 40vh;
        width: 70vw;
    }

    .bi-youtube{
        font-size: 3rem;
        color: white;
    }
    
    .bi-twitch{
        font-size: 3rem;
        color: white;
    }
    
    .bi-instagram{
        font-size: 3rem;
        color: white;
    }

    .menu{
        font-size: 40px;
        
    }
}



@media (max-width: 480px) {
    .bi-youtube{
        font-size: 2rem;
        color: white;
    }
    
    .bi-twitch{
        font-size: 2rem;
        color: white;
    }
    
    .bi-instagram{
        font-size: 2rem;
        color: white;
    }
    .icons{
        justify-content: center;
    }
    .menu{
        font-size: 25px;
        
    }
}