*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    
}

.bannerText h2{
    font-size: 3rem;
}
.bannerText .h2b{
    margin-left: 4rem;
}
.linea{
    border-top: 6px solid black;
  padding: 0;
  margin: 2rem;
}


@media (max-width: 1000px) {
    .bannerText h2{
        font-size: 2rem;
    }
}

@media (max-width: 700px) {
    .bannerText h2{
        font-size: 1.5rem;
    }
    .bannerText .h2b{
        margin-left: 2rem;
    }
}

@media (max-width: 550px) {
    .bannerText h2{
        font-size: 15px;
    }
    .bannerText .h2b{
        margin-left: 2rem;
    }
}

@media (max-width: 350px) {
    .bannerText h2{
        font-size: 0.8rem;
        margin-left: 3vw;
    }

    .bannerText .h2b{
        margin-left: 10vw;
}

.banner{
    margin-top: -5vh;
}
}