@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.bienvenida{
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bienvenidaContainer1{
    display: flex;
    flex-direction: row;
    background-color: var(--color-secundario);
    width: 80vw;
    height: 65vh;
    align-items: center;
    margin-bottom: 10vh;
}

.bienvenidaContainer1Imagen img{
    height: 50vh;
    width: 40vw;
    margin-top: 5vh;
}

.bienvenidaContainer1Letras{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-top: 5vh;
}

.bienvenidaContainer1Letras h1{
color: white;
display: flex;
}

.bienvenidaContainer1Letras h3{
color: var(--color-principal);
display: flex;
justify-content: center;
align-items: center;
line-height: 1.5;
font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

