@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario);
    
}
.bienvenida img{
    width: 40%;
    margin: 5%;
}
.palabras h2{
    color: white;
    font-size: 40px;
    
}
.palabras{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.palabras p{
    color: var(--color-principal);
    font-size: 20px;
}

@media (max-width: 700px){
.palabras h2{
    font-size: 25px;
}
.palabras p{
    font-size: 15px;
}
}