*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Banner2Container{
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Banner2Titulo{
    color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.Banner2Parrafo{
    color: black;
    font-size: 1.5rem;
    width: 80vw;
}

    .linea{
        border-top: 6px solid black;
      padding: 0;
    margin: 3rem;
}